target/
.idea/
.DS_Store

dist/

# Local Netlify folder
.netlify


## Node
node_modules
package-lock.json
package.json

android/capacitor.settings.gradle
android/app/capacitor.build.gradle
android/.idea/deploymentTargetDropDown.xml
netlify/functions/image/*.png
netlify/functions/image/*.svg
App store assets/*.png
steks/icon/logo.png
steks/src/Untitled-1.yml
achievements/*.png
steksgame_key.jks
record_images/*.png
App store assets/Android/*.png
App store assets/iOS iPad/*.png
App store assets/iOS 5.5/*.png
App store assets/iOS/*.png
