target/
.idea/
.DS_Store

dist/

# Local Netlify folder
.netlify


## Node
node_modules
package-lock.json
package.json

android/capacitor.settings.gradle
android/app/capacitor.build.gradle
android/.idea/deploymentTargetDropDown.xml
netlify/functions/image/*.png
netlify/functions/image/*.svg
